@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    .stylish {
        font-size: 30px;
        margin-top: 25px;
        margin-right: 25px;
        margin-left: 25px;
        margin-bottom: 25px;
    }

    .jumbotron {
        margin-top: 25px;
        margin-bottom: 25px;
        color: white;
        background-color: darkgray;
        text-align: center;
        font-size: 50px;
    }

    button {
        font-size: 25px;
        color: black;
        align-content: center;
    }
</style>
<div class="jumbotron col-sm-8 col-md-10 col-lg-12"> Accomodation Information</div>

<div class="stylish">

    <p>
        <label for="AccomodationName">Name:</label>
        <input type="text" id="AccomodationName" name="name" />
    </p>
    <p>
        <label for="AccomodationEmail">Email:</label>
        <input type="text" id="AccomodationEmail" name="email" />
    </p>
    <p>
        <label for="AccomodationPhone">Phone Number:</label>
        <input type="text" id="AccomodationPhone" name="phone" />
    </p>
</div>

<button>@Html.ActionLink("Next", "ThingsToDo")</button>