@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Destination
<style>
    .stylish {
        font-size: 30px;
        margin-top: 25px;
        margin-right: 25px;
        margin-left: 25px;
        margin-bottom: 25px;
    }

    .jumbotron {
        margin-top: 25px;
        margin-bottom: 25px;
        color: white;
        background-color: gray;
        text-align: center;
        font-size: 50px;
    }

    button {
        font-size: 25px;
        color: black;
        align-content: center;
    }

    h3 {
        margin-top: 25px;
        align-content: center
    }
</style>
<div class="jumbotron col-sm-8 col-md-10 col-lg-12">Trip Log</div>

<h3> Accomodation Information</h3>
<form class="stylish" runat="server" name="Accomodations" method="post">
    <input type="hidden" id="TripId" value="@Model.TripID" name="TripId" />
    <input type="hidden" value="@Model.AccomodationName" id="AccomodationName" name="AccomodationName" />
    <input type="hidden" value="@Model.StartDate" id="StartDate" name="startdate" />
    <input type="hidden" value="@Model.EndDate" id="EndDate" name="enddate" />
    <p>
        <label for="AccomodationName">Name:</label>
        <input type="text" value="AccomodationName" id="AccomodationName" name="name" />
    </p>
    <p>
        <label for="AccomodationEmail">Email:</label>
        <input type="text" value="AccomodationEmail" id="AccomodationEmail" name="email" />
    </p>
    <p>
        <label for="AccomodationPhone">Phone Number:</label>
        <input type="text" value="AccomodationPhone" id="AccomodationPhone" name="phone" />
    </p>
    <input type="submit" runat="server" value="Next" id="StartNewTrip" alt="StartNewTrip">
</form>