@{
}
@model Destination
<style>
    .stylish {
        font-size: 30px;
        margin-top: 25px;
        margin-right: 25px;
        margin-left: 25px;
        margin-bottom: 25px;
    }

    .jumbotron {
        margin-top: 25px;
        margin-bottom: 25px;
        color: white;
        background-color: gray;
        text-align: center;
        font-size: 50px;
    }

    button {
        font-size: 25px;
        color: black;
        align-content: center;
    }
</style>
<head>
    <meta charset="utf-8" />
</head>
<body>
    <div class="jumbotron col-sm-8 col-md-10 col-lg-12"> Trip Log </div>

    <form class="stylish" runat="server" name="Destination" method="post">
        <p>
            <label for="Destination">Destination:</label>
            <input type="text" id="TripId" name="TripId" />
        </p>
        <p>
            <label for="Accomodation">Accomodation:</label>
            <input type="text" id="AccomodationName" name="AccomodationName" />
        </p>
        <p>
            <label for="startdate">Start Date:</label>
            <input type="date" id="StartDate" name="startdate" />
        </p>

        <p>
            <label for="enddate">End Date:</label>
            <input type="date" id="EndDate" name="enddate" />
        </p>
        <input type="submit" runat="server" value="Submit" id="StartNewTrip" alt="StartNewTrip">
    </form>
</body>