@{
    ViewBag.Title = "title";
}

<style>

    .jumbotron {
        margin-top: 25px;
        margin-bottom: 25px;
        color: white;
        background-color: gray;
        text-align: center;
        font-size: 50px;
    }

    button {
        font-size: 25px;
        color: black;
        align-content: center;
    }
</style>

<div class="jumbotron col-sm-8 col-md-10 col-lg-12"> My Trip Log </div>

<button>@Html.ActionLink("Add New Trip", "Destination")</button>

<h2> Trip Data </h2>

<p> Trip Data Here</p>