@{
    ViewBag.Title = "title";
}

<style>
    h1 {
        color: white;
        background-color: darkgray;
        text-align: center;
    }
</style>
<h1 class="jumbotron col-sm-8 col-md-10 col-lg-12"> Add Trip </h1>