@{
    ViewData["Title"] = "Price Quotation";
}
@model PriceQuotation
<title> Price Quotation</title>
<h1> Price Quotation</h1>

<form method="post" class="form-horizontal" name="priceQuotationForm">

    <div class="row">
        <label for="subtotal" class="control-label col-md-4 col-sm-6">Subtotal:</label>
        <input asp-for="Subtotal" class="form-control col-md-4 col-sm-6" /> <br />
        <span asp-validation-for="Subtotal" style="color: red"></span>
    </div>

    <div class="w-100"></div>

    <div class="row">
        <div class="control-label col-md-4 col-sm-6">Discount Percent:</div>
        <input asp-for="DiscountPercent" class="form-control col-md-4 col-sm-6" /> <br />
        <span asp-validation-for="DiscountPercent" style="color: red"></span>
    </div>
    <div class="w-100"></div>
    <div class="row">
        <div class="control-label col-md-4 col-sm-6">Discount Amount:</div>
        <div class="col-md-8 col-sm-6">@String.Format("{0:c}", Model.DiscountAmount)</div>
    </div>
    <div class="w-100"></div>

    <div class="row">
        <div class="control-label col-md-10 col-sm-6">Total: @String.Format("{0:c}", Model.Total)</div>
    </div>

    <div class="row">
        <button type="submit" style="background-color: lightgreen" class="btn btn-outline-secondary" name="Calculate">Calculate</button> <button onclick="document.priceQuotationForm.clear();" class="btn btn-outline-secondary" style="background-color: lightgreen">Clear</button>
    </div>

</form>