@{
    ViewData["Title"] = "Price Quotation";
}
@model PriceQuotation


<span asp-validation-for="Subtotal"></span>
<span asp-validation-for="DiscountPercent"></span>

<form method="post" class="form" name="priceQuotationForm">

    <div class="grid-container">
        <div class="row">
            <div class="col-md-4 col-sm-6">Subtotal:</div>
            <div class="col-md-4 col-sm-6"><input asp-for="Subtotal" /></div>
        </div>
        
        <div class="row">
            <div class="col-md-4 col-sm-6">Discount Percent:</div>
            <div class="col-md-4 col-sm-6"><input asp-for="DiscountPercent" /></div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-6">Discount Amount:</div>
            <div class="col-md-8 col-sm-6">@String.Format("{0:c}", Model.DiscountAmount)</div>
        </div>

  
        <div class="row">
            <div class="col-md-10 col-sm-6">Total:</div>
            <div class="col-md-12 col-sm-6">@String.Format("{0:c}", Model.Total)</div>
        </div>
        


        <div class="row">
         <button type="submit" class="btn btn-outline-secondary" name="Calculate">Calculate</button> <button onclick="document.priceQuotationForm.clear();" class="btn btn-outline-secondary">Clear</button></div>
        </div>
        
</form>