@{
    ViewBag.Title = "Tutorial Page 2";

}

<h3> Tutorial Page 2 </h3>

<p> Second thing you need to know</p>
<a asp-action="Index" asp-route-id="Page1" class="btn btn-dark mr-2"> Previous Page</a>

<a asp-action="Index" asp-route-id="Page3" class="btn btn-dark"> Next Page</a>