@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron vertical col-sm-8 col-md-10 col-lg-12">
    <br />
    <h1>Frequently Asked Questions</h1>
    <br />
</div>
<form id="form1" runat="server">
    <ul>
        <li>@Html.ActionLink("Home", "Index")</li>
        <li>@Html.ActionLink("Page 1", "Page1")</li>
        <li>@Html.ActionLink("Page 2", "Page2")</li>
        <li>@Html.ActionLink("Page 3", "Page3")</li>
    </ul>
</form>