@{
    ViewData["Title"] = "BootStrap";
}

<!DOCTYPE html>
<html>
<style>

    .jumbotron {
        background-color: teal;
        color: white;
        text-align: center;
        font-size: 1.5rem;
        margin-left: 25px;
        margin-right: 25px;
        margin-top: 25px;
    }

    ul {
        list-style-type: none;
        margin-left: 200px;
        margin-top: 20px;
        padding: 0;
        overflow: hidden;
    }

    li {
        float: left;
    }

        li a {
            font-size: 20px;
            color: black;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

    /* Vertical NavBar*/
</style>
<body>
    <div class="jumbotron vertical col-sm-8 col-md-10 col-lg-12">
        <br />
        <h1>Frequently Asked Questions</h1>
        <br />
    </div>

    <form id="form1" runat="server">
        <ul>
            <li>@Html.ActionLink("All FAQ's", "Index")</li>
            <li>@Html.ActionLink("C#", "Csharp")</li>
            <li>@Html.ActionLink("Bootstrap", "BootStrap")</li>
            <li>@Html.ActionLink("Javascript", "JavaScript")</li>
        </ul>
    </form>
    <br />
</body>
</html>