@{
    ViewData["Title"] = "BootStrap";
}

<style>

    .jumbotron {
        background-color: teal;
        color: white;
        text-align: center;
        font-size: 1.5rem;
        margin-left: 25px;
        margin-right: 25px;
        margin-top: 25px;
    }

    ul {
        list-style-type: none;
        margin-left: 200px;
        margin-top: 20px;
        padding: 0;
        overflow: hidden;
    }

    li {
        float: left;
    }

        li a {
            font-size: 20px;
            color: black;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

    /* Vertical NavBar*/
</style>

<div class="jumbotron vertical col-sm-8 col-md-10 col-lg-12">
    <br />
    <h1>Frequently Asked Questions</h1>
    <br />
</div>

<ul>
    <li><a class="active" href="#home">All FAQ's</a></li>
    <li><a href="Csharp.cshtml">C#</a></li>
    <li><a href="BootStrap.cshtml">Bootstrap</a></li>
    <li><a href="JavaScript.cshtml">JavaScript</a></li>
</ul>
<br />