@{
    ViewBag.Title = "Confirm";
}

<div class="list-group">
    <a asp-action="Index" asp-controller="Manage" class="list-group-item">
        To Manage Page
    </a>
    <a asp-action="Add" asp-controller="Trip" class="list-group-item">
        To Adding A Trip Page
    </a>

    <a asp-action="Index" asp-controller="Home" class="list-group-item">
        To Home Page
    </a>
</div>