@model TripViewModel

@{
    ViewBag.Title = "Add Trip - Page Two";
    ViewBag.SubHeader = $"Add Things To Do at {Model.DestinationName};
}

<form asp-action="Add">
    <input type"hidden" asp-for="PageNumber" />
    <p> Hold Down the CTRL Key to select multiple items</p>
    <div class="form-group">
        <select asp-for="SelectedActivities" class="form-control"
                asp-items="@(new SelectList(Model.Activities, "ActivityId, Name"))"
                multiple size="10">
        </select>
    </div>

    <div>
        <button type="submit" class="btn btn-dark"> Next </button>
        <a asp-action="Cancel" class=" btn btn-outline-dark">Cancel</a>
    </div>
</form>